<h4>Company</h4>
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <title>Company Setup</title>
    <script src="script/angular.js"></script>
    <script src="script/script.js"></script>
    <!-- <script src="angular.js"></script>
    <link href="../../RefStyle/bootstrap.min.css" rel="stylesheet" />
    <script src="app.js"></script>
    <script src="ajax.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
  </head>
  <body ng-app="myApp">
    <div class="panel panel-default">
      <div ng-controller="myController" class="panel-body">
        <table id="tableSwapi table-striped">
          <thead>
            <tr>
              <th>Company ID</th>
              <th>Company Name</th>
              <th>Company Short Name</th>
            </tr>
            <tr ng-repeat="results in myData">
              <td>{{ results.COMPANY_ID }}</td>
              <td>{{ results.COMPANY_NAME }}</td>
              <td>{{ results.COMPANY_SHORTNAME }}</td>
            </tr>
          </thead>
          <tbody id="list-list"></tbody>
        </table>
      </div>
      <script>
        function myController($scope, $http) {
          var url = "./user/company-setup/myData.txt";
          var url = "./myData.txt";

          $http.post(url).then(function (response) {
            $scope.myData = response.data;
          });
        }
      </script>
    </div>
  </body>
</html>

<!-- <style>
  table {
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  th,
  td {
    padding: 10px;
  }
  th {
    background-color: #ffc800;
    color: white;
  }
</style>
<br />

<button class="btn" style="background-color: black; color: white">Add</button>
<br />
<br />
<table>
  <div class="table-responsive">
    <table class="table no-wrap user-table mb-1">
      <tr>
        <th scope="col" class="border-1 text-uppercase font-medium pl-4">
          No.
        </th>
        <th scope="col" class="border-1 text-uppercase font-medium">Code</th>
        <th scope="col" class="border-1 text-uppercase font-medium">Name</th>
        <th scope="col" class="border-1 text-uppercase font-medium">Short</th>
      </tr>

      <!-- <tbody>
        <tr>
          <td class="pl-4">1</td>
          <td>
            <h5 class="font-medium mb-0">10021</h5>
          </td>
          <td>
            <span class="text-muted">Institut Teknologi Bandung</span><br />
          </td>
          <td><span class="text-muted">ITB</span><br /></td>
        </tr>
        <tr>
          <td class="pl-4">2</td>
          <td>
            <h5 class="font-medium mb-0">10021</h5>
          </td>
          <td><span class="text-muted">Bina Sarana Informatika</span><br /></td>
          <td><span class="text-muted">BSI</span><br /></td>
        </tr>
        <tr>
          <td class="pl-4">3</td>
          <td>
            <h5 class="font-medium mb-0">10021</h5>
          </td>
          <td><span class="text-muted">PAM Premium</span><br /></td>
          <td><span class="text-muted">PAM</span><br /></td>
        </tr>
        <tr>
          <td class="pl-4">4</td>
          <td>
            <h5 class="font-medium mb-0">10021</h5>
          </td>
          <td><span class="text-muted">Sun Prima</span><br /></td>
          <td><span class="text-muted">SUNPRM</span><br /></td>
        </tr>
        <tr>
          <td class="pl-4">5</td>
          <td>
            <h5 class="font-medium mb-0">10021</h5>
          </td>
          <td><span class="text-muted">Universitas Indonesia</span><br /></td>
          <td><span class="text-muted">UI</span><br /></td>
        </tr>
      </tbody>
    </table> -->

<!-- <br>
      <tr>
        <td id="drop-down"><label for="Channels"><b>
      <select class="form-control category-select" id="exampleFormControlSelect1">
          <option>Default</option>
          <option>ATM</option>
          <option>Internet Banking</option>
        </select>

 <head>
   <script language="javascript">
    function addRow(tableID) {

     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     var row = table.insertRow(rowCount);

     var cell1 = row.insertCell(0);
     var element1 = document.createElement("input");
     element1.type = "checkbox";
     element1.name="chkbox[]";
     cell1.appendChild(element1);

     var cell2 = row.insertCell(1);
     var element3 = document.createElement("textarea");
     element3.type = "textarea";
     element3.name = "textarea[]";
     cell2.appendChild(element3);


     var cell3 = row.insertCell(2);
     var element2 = document.createElement("input");
     element2.type = "textarea";
     element2.name = "textarea[]";
     cell3.appendChild(element2);

   }

   function deleteRow(tableID) {
     try {
       var table = document.getElementById(tableID);
       var rowCount = table.rows.length;

       for(var i=0; i<rowCount; i++) {
        var row = table.rows[i];
        var chkbox = row.cells[0].childNodes[0];
        if(null != chkbox && true == chkbox.checked) {
         table.deleteRow(i);
         rowCount--;
         i--;
       }


     }
   }catch(e) {
    alert(e);
  }
}


</script>
</head>
<body>
   
   <br>
   <button class="btn" style="background-color:#87cefa; color: black;">Inquiry</button> 
   



<div style="table-layout:solid black">
<table id="dataTable" style="border-bottom: 3px solid black;
border-left: 3px solid black; 
border-right: 3px solid black; 
border-top: 3px solid black; 
width: 1000px;">
<tr>
<th width="100px">EN</th>
<th width="1000px">Formula</th>
<th width="1000px">Field</th>
</tr>
<tr>
<td><input name="chk" type="checkbox" ></td>
<td><textarea name="text" type="textarea"  rows="2"></textarea></td>
<td><input type="text" ></td>
</tr>
</table>

<button onclick="addRow('dataTable')" class="btn2" style="background-color: #ffc800; color: black;font-size: 17px;border-right: 10px"Channels value="Tambah">Tambah</button>

<button onclick="deleteRow('dataTable')" class="btn2" style="background-color: black; color: white;font-size: 17px;" value="Hapus">Hapus</button> -->

<!-- <a
        href="./company-setup/add"
        class="btn"
        style="background-color: #ffc800; color: black"
        >Add</a
      >
      <a
        href="./company-setup/View"
        class="btn"
        style="background-color: #ffc800; color: black"
        >View</a
      >
      <a
        href="./company-setup/Edit"
        class="btn"
        style="background-color: #ffc800; color: black"
        >Edit</a
      >
      <a
        href="./company-setup/delete"
        class="btn"
        style="background-color: #ffc800; color: black"
        >Delee</a
      >
    </table>
  </div>
</table> -->
