<h4>USER Session</h4>

          <input class="search" type="text" required>
          <br>
          <button class="btn2" style="background-color: #ffc800; color: black;">FILTER</button> 
      <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
              <tr>
                <th scope="col" class="border-0 text-uppercase font-medium pl-4">No.</th>
                <th scope="col" class="border-0 text-uppercase font-medium">User ID</th>
                <th scope="col" class="border-0 text-uppercase font-medium">User Name</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Addres</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Last Login</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-4">1</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_1</h5>
                </td>
                <td>
                    <span class="text-muted">MII</span><br>
                </td>
                <td>
                    <span class="text-muted">127.01.001.001</span><br>
                </td>
                <td>
                    <span class="text-muted">15 Mar 2021</span><br>
                    <span class="text-muted">10: 55 AM</span>
                </td>
                <td>  
                  <span class="text-muted">-</span><br>
                </td>
              </tr>
              <tr>
                <td class="pl-4">2</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_2</h5>
                </td>
                <td>
                    <span class="text-muted">MII</span><br>
                </td>
                <td>
                    <span class="text-muted">127.01.001.001</span><br>
                </td>
                <td>
                    <span class="text-muted">15 Mar 2021</span><br>
                    <span class="text-muted">10: 55 AM</span>
                </td>
                <td>  
                  <span class="text-muted">-</span><br>
                </td>
              </tr>
              <tr>
                <td class="pl-4">3</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_3</h5>
                </td>
                <td>
                    <span class="text-muted">MII</span><br>
                </td>
                <td>
                    <span class="text-muted">127.01.001.001</span><br>
                </td>
                <td>
                    <span class="text-muted">15 Mar 2021</span><br>
                    <span class="text-muted">10: 55 AM</span>
                </td>
                <td>  
                  <span class="text-muted">-</span><br>
                </td>
              </tr>
              <tr>
                <td class="pl-4">4</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_4</h5>
                </td>
                <td>
                    <span class="text-muted">MII</span><br>
                </td>
                <td>
                    <span class="text-muted">127.01.001.001</span><br>
                </td>
                <td>
                    <span class="text-muted">15 Mar 2021</span><br>
                    <span class="text-muted">10: 55 AM</span>
                </td>
                <td>  
                  <span class="text-muted">-</span><br>
                </td>
              </tr>
            </tbody>
          </table>
          
          <button class="btn2" style="background-color: #ffc800; color: black;">Page</button> 
      </div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
