<h4>Integration Setup</h4>
<table>
  <tr>
    <td id="indeks"><label for="Company ID"><b>Company Code :</b></label></td>
    <td><input type="number" name="Company ID" /></td>
  </tr>
 </table>  
<button class="btn2" style="background-color: #ffc800; color: black;">Search</button> 
<br><br>
<table>
<div class="table-responsive" >
  <table class="table no-wrap user-table mb-0">
    <thead>
      <tr>
        <th scope="col" class="border-2 text-uppercase font-medium pl-4">No.</th>
        <th scope="col" class="border-2 text-uppercase font-medium">Code </th>
        <th scope="col" class="border-2 text-uppercase font-medium">Name</th>
        <th scope="col" class="border-2 text-uppercase font-medium">Short</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pl-4">1</td>
        <td>
          <h5 class="font-medium mb-0">10021</h5>
        </td>
        <td>
          <span class="text-muted">Institut Teknologi Bandung</span><br>
        </td>
        <td>
          <span class="text-muted">ITB</span><br>
        </td>

      </tr>
      <tr>
        <td class="pl-4">2</td>
        <td>
          <h5 class="font-medium mb-0">10021</h5>
        </td>
        <td>
          <span class="text-muted">Bina Sarana Informatika</span><br>
        </td>
        <td>
          <span class="text-muted">BSI</span><br>
        </td>

      </tr>
      <tr>
        <td class="pl-4">3</td>
        <td>
          <h5 class="font-medium mb-0">10021</h5>
        </td>
        <td>
          <span class="text-muted">PAM Premium</span><br>
        </td>
        <td>
          <span class="text-muted">PAM</span><br>
        </td>


                            </tr>
      <tr>
        <td class="pl-4">4</td>
        <td>
          <h5 class="font-medium mb-0">10021</h5>
        </td>
        <td>
          <span class="text-muted">Sun Prima</span><br>
        </td>
        <td>
          <span class="text-muted">SUNPRM</span><br>
        </td>

      </tr>
      <tr>
        <td class="pl-4">5</td>
        <td>
          <h5 class="font-medium mb-0">10021</h5>
        </td>
        <td>
          <span class="text-muted">Universitas Indonesia</span><br>
        </td>
        <td>
          <span class="text-muted">UI</span><br>
        </td>

      </tr>
    </tbody>
  </table>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>