src\assets\css\styles.css
<style>
  .mat-nav-list {
  border-width: 2px;
  background-color: #ffc800;
  border-color:black;
  padding-left: 2px;
}
.mat-list-item{
  border-width: 2px;
  background-color: #ffc800;
  border-color:black;
}
.mat-toolbar{
  background-color:#ffc800 ;
}

</style>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div>
        <img  class="kiri" style=width:190px src="assets/gambar/logo.png"/>
        </div>
    <mat-toolbar style="background-color: black ;color:white;">USER</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="./user">Profil</a>
      <a mat-list-item href="./user/role">Role</a>
      <a mat-list-item href="./user/session">Session</a>
    </mat-nav-list>
    <mat-toolbar style="background-color: black ;color:white;">UBP</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="./user/integration-setup">Integration Setup</a>
      <a mat-list-item href="./user/company-setup">Company</a>
      <a mat-list-item href="./user/channel-setup">Channel</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="./user/pending-req">Pending Request</a>
      <a mat-list-item href="./user/company-req">Company</a>
      <a mat-list-item href="./user/channel-req">Channel</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="./user">Reports</a>
      <a mat-list-item href="./user/role">Transaction Details</a>
    </mat-nav-list>

  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PTBC</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <script src="./assets/js/script.js"></script>
    <router-outlet></router-outlet>

    <script src="./assets/js/scripts.js"></script>
  </mat-sidenav-content>
</mat-sidenav-container>
