<h4>Channel</h4>

<body>
  <table>
    <br />
    <tr>
      <td id="indeks">
        <label for="Channel ID"><b>Channel ID :</b></label>
      </td>
      <td><input type="number" name="Channel ID" /></td>
    </tr>
    <td id="indeks">
      <label for="Merchant Type"><b>Merchant Type :</b></label>
    </td>
    <td><input type="text" name="Merchant Type" /></td>
    <tr>
      <td id="indeks">
        <label for="Channel Name"><b>Channel Name :</b> </label>
      </td>
      <td><input type="text" name="Channel Name" /></td>
    </tr>
    <tr>
      <td id="indeks">
        <label for="Create Who"><b>Create Who :</b> </label>
      </td>
      <td><input type="text" name="Create Who" /></td>
    </tr>
    <tr>
      <td id="indeks">
        <label for="Create Date"><b>Create Date</b></label>
      </td>
      <td><input type="Date" name="Create Date" /></td>
    </tr>
    <tr>
      <td id="indeks">
        <label for="Change Who"><b>Change Who :</b> </label>
      </td>
      <td>{{ myData.CHANGE_WHO }}</td>
    </tr>
    <tr>
      <td id="indeks">
        <label for="Change Date"><b>Change Date </b></label>
      </td>
      <td><input type="Date" name="Change Date" /></td>
    </tr>
    <tr>
      <td id="indeks">
        <label for="Channel Code  "><b>Channel Code :</b> </label>
      </td>
      <td><input type="number" name="Channel Code  " /></td>
    </tr>
  </table>
  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <script>
    function myController($scope, $http) {
      var url = "./user/channel-setup/myData.txt";

      $http.get(url).then(function (response) {
        $scope.myData = response.data;
      });
    }
  </script>
  <br />
  <button class="btn" style="background-color: #87cefa; color: black">
    Save
  </button>
</body>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
