<h4>Pending Request</h4>

<input class="search" type="text" required>
<br>
<button class="btn2" style="background-color: #ffc800; color: black;">FILTER</button> 
<div class="table-responsive">
<table class="table no-wrap user-table mb-0">
  <thead>
    <tr>
      <th scope="col" class="border-0 text-uppercase font-medium pl-4">No.</th>
      <th scope="col" class="border-0 text-uppercase font-medium">User ID</th>
      <th scope="col" class="border-0 text-uppercase font-medium">User Name</th>
      <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
      <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pl-4">1</td>
      <td>
        <h5 class="font-medium mb-0">Admin_1</h5>
      </td>
      <td>
        <span class="text-muted">MII</span><br>
      </td>
      <td>
        <span class="text-muted">admin_1@website.com</span><br>
      </td>
      <td>
        <select class="form-control category-select" id="exampleFormControlSelect1">
          <option>Super Admin</option>
          <option>Operational</option>
          <option>Monitoring</option>
        </select>
      </td>
      <td>
        <button class ="btn" style="color:black;background-color: #ffc800 ">Accept</button>
        <button class="btn" style="color:white;background-color:black;border: 100px">Refuse</button>
      </td>
    </tr>
</tbody>
</table>
<button class="btn" style="background-color: #ffc800; color: black;">Page</button> 
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>