<h4>ROLE LIST</h4>
<br>
                <tr>
                <td id="indeks"><label for="Name"><b>Role :</b> </label></td>
                <td><input type="search" name="Name" /></td>
              </tr>
          <br>
          <button class="btn2" style="background-color: #ffc800; color: black;">FILTER</button> 
      
      <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
              <tr>
                <th scope="col" class="border-0 text-uppercase font-medium pl-4">No.</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Role ID</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Role Name</th>
            </thead>
            <tbody>
              <tr>
                <td class="pl-4">1</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_1</h5>
                </td>
              <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Super Admin</option>
                  <option>Operational</option>
                  <option>Monitoring</option>
                </select>
              </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">2</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_2</h5>
                </td>
              
              <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Super Admin</option>
                  <option>Operational</option>
                  <option>Monitoring</option>
                </select>
              </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">3</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_3</h5>
                </td>
               
              <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Operational</option>
                  <option>Super Admin</option>
                  <option>Monitoring</option>
                </select>
              </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">4</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_4</h5>
                </td>
                
               <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Operational</option>
                  <option>Super Admin</option>
                  <option>Monitoring</option>
                </select>
              </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">5</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_5</h5>
                </td>
               
              <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Monitoring</option>
                  <option>Operational</option>
                  <option>Super Admin</option>
                </select>
              </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
              </tr>
              <tr>
                <td class="pl-4">6</td>
                <td>
                    <h5 class="font-medium mb-0">Admin_6</h5>
                </td>
                
              <td>
                <select class="form-control category-select" id="exampleFormControlSelect1">
                  <option>Monitoring</option>
                  <option>Operational</option>
                  <option>Super Admin</option>
              
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                </td>
        
         
        
          <button class="btn2" style="background-color: #ffc800; color: black;">Page</button> 
      
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>